* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.content {
  margin: 90px 90px 0 90px;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  margin: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 0;
}

.main__element-status-text {
  margin: 20px 0 0 0;
}

.main__element-horizontal-line {
  border: 1px solid #E5E4E4;
  width: 100%;
}

.main__element .bold {
  font-size: 30px;
  font-weight: 700;
}

.main__element .topic-name {
  font-size: 21px;
}

.subelement__first {
  width: 225px;
  margin: 5px 0 0 0;
}

.subelement__second {
  width: 340px;
}

.subelement__second input {
  width: 340px;
  border: 1px solid #999;
  height: 31px;
  padding: 0 0 0 12px;
  font-size: 16px;
  line-height: 19px;
}

.subelement__third {
  width: 350px;
  margin: 0 0 0 18px;
}

.subelement__third p {
  color: #999;
  font-size: 12px;
  line-height: 20px;
  margin: 5px 0 0 0;
}

.subelement-greeting-hello {
  color: #666666;
}

.subelement-change-status-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom: dashed #0C77BB;
  color: #0C77BB;
}

.subelement-status {
  padding: 0 0 0 12px;
}

.subelement__error p {
  font-size: 12px;
  color: #FF0000;
  padding: 4px 0 0 0;
}

.container {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #7e7e7e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: url("../img/vector.svg") no-repeat;
}

.button-submit-changer {
  width: 120px;
  height: 40px;
  font-size: 18px;
  border: 1px solid green;
  background: #71C838;
  -webkit-box-shadow: 0px 1px 0px #539D22;
          box-shadow: 0px 1px 0px #539D22;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.button-submit-changer span {
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.button-submit-changer:active {
  top: 2px;
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
}

#input-error {
  border: 1px solid #FF0000;
}
