* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 105%;
}

.content {
  margin: 50px 70px 140px 70px;
}

.main {
  margin: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 0;
}

.main__element:first-child {
  margin: 0;
}

.main__element-city {
  margin: 20px 0 0 0;
}

.main__element-status-text {
  margin: 20px 0 0 0;
}

.main__element-horizontal-line {
  border: 1px solid #E5E4E4;
  width: 100%;
}

.main__element .bold {
  font-size: 30px;
  font-weight: 700;
}

.main__element .topic-name {
  font-size: 21px;
}

.subelement__first {
  width: 225px;
  margin: 5px 0 0 0;
}

.subelement__second {
  width: 340px;
}

.subelement__second input {
  width: 340px;
  border: 1px solid #999;
  height: 31px;
  padding: 0 0 0 12px;
  font-size: 16px;
  line-height: 19px;
}

.subelement__third {
  width: 350px;
  margin: 0 0 0 18px;
}

.subelement__third p {
  color: #999;
  font-size: 12px;
  line-height: 20px;
  margin: 5px 0 0 0;
}

.subelement__third.change-status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.subelement__third .up-time-log {
  margin: 10px 0 0 0;
}

.subelement-greeting-hello {
  color: #666666;
}

.subelement-human-number {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.subelement-change-status-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom: dashed #0C77BB;
  color: #0C77BB;
}

.subelement-popup-input {
  position: absolute;
  top: 40px;
}

.subelement-popup-input input.input-status {
  font-size: 12px;
  height: 40px;
  width: 250px;
  padding: 5px;
  text-align: justify;
  border: 1px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.subelement-status {
  padding: 0 0 0 12px;
}

.subelement__error p {
  font-size: 12px;
  color: #FF0000;
  padding: 4px 0 0 0;
}

.container {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #7e7e7e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: url("../img/vector.svg") no-repeat;
}

.button-submit-changer {
  width: 120px;
  height: 40px;
  font-size: 18px;
  border: 1px solid green;
  background: #71C838;
  -webkit-box-shadow: 0px 1px 0px #539D22;
          box-shadow: 0px 1px 0px #539D22;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.button-submit-changer span {
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.button-submit-changer:active {
  top: 2px;
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
}

#input-error {
  border: 1px solid #FF0000;
}

@media screen and (max-width: 1200px) {
  .content {
    margin: 35px 70px 0 70px;
  }
  .main__element {
    margin: 25px 0 0 0;
  }
  .main__element .bold {
    font-size: 26px;
  }
  .main__element-status-text {
    margin: 10px 0 0 0;
  }
  .main__element .topic-name {
    font-size: 18px;
  }
  .container .agreement-text {
    font-size: 14px;
  }
  .subelement__first {
    width: 200px;
    margin: 5px 0 0 0;
  }
  .subelement__second {
    width: 270px;
  }
  .subelement__second input {
    width: 270px;
    padding: 0 0 0 12px;
    font-size: 14px;
  }
  .subelement__third {
    width: 280px;
    margin: 0 0 0 16px;
  }
  .subelement__third p {
    margin: 3px 0 0 0;
  }
}

@media screen and (max-width: 900px) {
  .content {
    margin: 25px 45px;
  }
  .main__element {
    margin: 20px 0 0 0;
  }
  .main__element .bold {
    font-size: 24px;
  }
  .main__element-status-text {
    margin: 10px 0 0 0;
  }
  .subelement__first {
    width: 180px;
  }
  .subelement__second {
    width: 230px;
  }
  .subelement__second input {
    width: 230px;
    height: 30px;
    font-size: 12px;
  }
  .subelement__second-status p {
    font-size: 10px;
  }
  .subelement__third {
    width: 200px;
    margin: 0 0 0 14px;
  }
  .subelement__third p {
    margin: 0;
    line-height: 16px;
  }
  .subelement__third .up-time-log {
    margin: 4px 0 0 0;
  }
}

@media screen and (max-width: 720px) {
  .content {
    margin: 15px 15px;
  }
  .main__element {
    margin: 15px 0 0 0;
  }
  .main__element .bold {
    font-size: 18px;
  }
  .main__element-status-text {
    margin: 10px 0 0 0;
  }
  .main__element .topic-name {
    font-size: 14px;
  }
  .subelement__first {
    width: 140px;
  }
  .subelement__second {
    width: 180px;
  }
  .subelement__second input {
    width: 190px;
    height: 25px;
    padding: 0 0 0 10px;
  }
  .subelement__second-status p {
    margin: 4px 0 0 0;
    font-size: 8px;
  }
  .subelement__third {
    width: 160px;
    margin: 0 0 0 12px;
  }
  .subelement__third p {
    font-size: 10px;
    margin: 0 0 0 5px;
    line-height: 15px;
  }
  .container .agreement-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 545px) {
  .main__element {
    margin: 13px 0 0 0;
  }
  .main__element .bold {
    font-size: 11px;
  }
  .main__element-status-text {
    margin: 8px 0 0 0;
  }
  .main__element .topic-name {
    font-size: 9px;
  }
  .subelement__first {
    width: 80px;
  }
  .subelement__second {
    width: 120px;
  }
  .subelement__second input {
    width: 120px;
    height: 18px;
    padding: 0 0 0 6px;
  }
  .subelement__third {
    width: 90px;
    margin: 0 0 0 0px;
  }
  .subelement__third p {
    font-size: 6px;
    line-height: 8px;
  }
  .subelement__third .up-time-log {
    margin: 4px 0 0 5px;
  }
  .subelement-change-status-button {
    font-size: 10px;
  }
  .container {
    padding-left: 25px;
  }
  .container .agreement-text {
    font-size: 8px;
  }
  .button-submit-changer {
    width: 80px;
    height: 25px;
    font-size: 12px;
  }
  .button-submit-changer span {
    font-size: 14px;
  }
}
