@import './_nullstyle.scss';

body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   display: flex;
   justify-content: center;
}

.content {
   margin: 90px 90px 0 90px;
   max-width: 1170px;
}

.main{
   margin: 0 0 0 5px;
   display: flex;
   flex-direction: column;

   &__element{
      display: flex;

      margin: 40px 0 0 0;

      &-status-text{
         margin: 20px 0 0 0;
      }

      &-horizontal-line{
         border: 1px solid #E5E4E4;
         width: 100%;
      }

      .bold{
         font-size: 30px;
         font-weight: 700;
      }
      .topic-name {
         font-size: 21px;
      }
   }
}

.subelement{
   
   &__first{
      width: 225px;
      margin: 5px 0 0 0;
   }
   &__second{
      width: 340px;
      input {
         width: 340px;
         border: 1px solid #999;
         height: 31px;
         padding: 0 0 0 12px;
         font-size: 16px;
         line-height: 19px;
      }
   }

   &__third{
      width: 350px;
      margin: 0 0 0 18px;
      p {
         color: #999;
         font-size: 12px;
         line-height: 20px;
         margin: 5px 0 0 0;
      }
      &.change-status-container{
         display: flex;
         position: relative;
      }
      .up-time-log{
         margin: 10px 0 0 0;
      }
   }
   &-greeting-hello{
      color: #666666;
   }
   &-human-number{
      align-self: flex-end;
   }
   &-change-status-button{
      align-self: flex-end;
      
      border-bottom: dashed #0C77BB;
      color: #0C77BB;
   }

   &-input-change-status{
      position: absolute;
      left: 0;
      top: 40px;
      width: 140px;
      height: 40px;
      border: 1px solid black;
      input.input-status{
         width: 90px;
         border: 1px solid black;
      }
   }

   &-status{
      padding: 0 0 0 12px;
   }
   &__error{
      p{
         font-size: 12px;
         color: #FF0000;
         padding: 4px 0 0 0;
      }
   }
}

.container {
   padding-left: 30px;
   position: relative;
   cursor: pointer;
   font-size: 16px;
   user-select: none;
}
.container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #eee;
   border: 1px solid #7e7e7e;
   &:after {
      content: "";
      position: absolute;
      display: none;
   }
   
}

.container input:checked ~ .checkmark:after {
   display: block;
}

.container .checkmark:after {
   left: 5px;
   top: 5px;
   width: 10px;
   height: 10px;
   background: url('../img/vector.svg') no-repeat;
}


.button-submit-changer{
   width: 120px;
   height: 40px;
   font-size: 18px;
   border: 1px solid green;
   background: #71C838; 
   box-shadow: 0px 1px 0px #539D22;
   color: #fff;
   position: relative;
   cursor: pointer;
   span {
      color: #fff;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
      font-size: 18px;
   }
   &:active{
      top: 2px;
      box-shadow: 0px 0px 0px black;
   }

}

#input-error{
   border: 1px solid #FF0000;
}

@media screen and (max-width: 1200px) {
      .content {
         margin: 70px 70px 0 70px;
      }
      .main__element{
         margin: 30px 0 0 0;
         .bold {
            font-size: 26px;
         }
         &-status-text{
            margin: 10px 0 0 0;
         }
         .topic-name{
            font-size: 18px;
         }
      }
      .container {
         .agreement-text {
            font-size: 14px;
         }
      }
      .subelement{
   
         &__first{
            width: 200px;
            margin: 5px 0 0 0;
         }
         &__second{
            width: 270px;
            input {
               width: 270px;
               border: 1px solid #999;
               height: 31px;
               padding: 0 0 0 12px;
               font-size: 14px;
            }
         }
      
         &__third{
            width: 280px;
            margin: 0 0 0 16px;
            p{
               margin: 3px 0 0 0;
            }
            
         }
   }  
}

@media screen and (max-width: 900px) {
   .content {
      margin: 45px 45px;
   }
   .main__element{
      margin: 25px 0 0 0;
      .bold {
         font-size: 24px;
      }
      &-status-text{
         margin: 10px 0 0 0;
      }
   }
   .subelement{

      &__first{
         width: 180px;
      }
      &__second{
         width: 230px;
         input {
            width: 230px;
            font-size: 12px;
         }
         &-status{
            p{
               font-size: 10px;
            }
           
         }
      }
      
      &__third{
         width: 200px;
         margin: 0 0 0 14px;
         p{
            margin: 3px 0 0 0;
         }
      }
}  
}

@media screen and (max-width: 720px) {
   .content {
      margin: 15px 15px;
   }
   .main__element{
      margin: 20px 0 0 0;
      .bold {
         font-size: 18px;
      }
      &-status-text{
         margin: 10px 0 0 0;
      }
      .topic-name{
         font-size: 14px;
      }
   }
   .subelement{

      &__first{
         width: 140px;
      }
      &__second{
         width: 180px;
         input {
            width: 190px;
            padding: 0 0 0 10px;
         }
      }
      
      &__third{
         width: 160px;
         margin: 0 0 0 15px;
         p{
            font-size: 10px;
            margin: 0 0 0 5px;
            line-height: 15px;
         }
      }
   }  
   .container {
      .agreement-text {
         font-size: 12px;
      }
   }

}